# Supabase Configuration
VITE_SUPABASE_URL=https://sxpaeuvxdekhpfykorlf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_y8qgBlWZlySGadmXHoYmUA_dXXX7ag1
VITE_GEMINI_API_KEY=AIzaSyD0us93UwM3FH3KmhUqfzxbA_Vwu8f11Bs
